{% extends 'base.html'%}
{% block title%}
{{theroom.name}}
{%endblock%}


{% block content %}
<div class="text-center"style="margin-top: 4%;margin-left: auto;margin-right: auto;">
    <h1>{{theroom.name}}</h1>
 <div class="card"style="    width: 50%;
 width: 50%;
 padding: 21px;
 margin: auto;
 height: 344px;

 overflow-y: auto;" id="chatmessages">
   
      {% for message in messages%}
      
 {%if message.user.username == request.user.username%}<div class="container ">{% else%}<div class="container darker">{% endif%}
    {%if message.user.username == request.user.username%}    <p id='username' style="display: flex;font-weight: 900;    font-size: large;">{{message.user.username}}</p>
    {% else%}  <p id='username' style="   float: right;display: flex;font-weight: 900;    font-size: large;">{{message.user.username}}</p><br>
    {% endif%}

            <p id="message"style="    font-weight: 650;">{{message.content}}</p>
            <p >{{message.date_added}}</p>
            
          </div>
      {% endfor%}
      
      
    </div>
    <form  class="d-flex form-group"style="width: 50%;;margin-left: auto;margin-right: auto;margin-top: 12px;">
        <input type="text" name="content" class="form-control"id="chatmessageinput" style="padding: 20px;">
        <button type="submit" id="chat-message-submit"style="border-radius: 10px;margin-left: 7px;background: #4081f2;">throw</button>
    </form>
</div>
{{theroom.slug|json_script:"json_roomname"}} 
{{request.user.username|json_script:"json_username"}}

{%endblock%}
{% block scripts%}

<script type="text/javascript">
    const roomName=JSON.parse(document.getElementById("json_roomname").textContent)
    const userName=JSON.parse(document.getElementById("json_username").textContent)
    
    const chatsocket=new WebSocket(
        'ws://'
        +window.location.host
        +'/ws/'
        +roomName
        +'/'
    )
    chatsocket.onmessage = function(e){
        console.log("onmessaging")
        let today=new Date()
        let year=today.getFullYear()
        let month=today.getMonth()+1
        let day=today.getDate()
        let hours=today.getHours()
        let min=today.getMinutes()
        let data=JSON.parse(e.data)
        if(data.message){
            let html=`
           ${data.username==userName?`<div class="container ">`:`<div class="container darker">`} 
            ${data.username==userName?`<p id='username'style="display: flex;font-weight: 900;font-size: large;">${data.username}</p>`:`<p id='username'style="display: flex;font-weight: 900;font-size: large;float: right;">${data.username}</p><br>`} 


                <p id="message"style="    font-weight: 650;">${data.message}</p>
                <p >${year}-${month}-${day}/${hours}:${min}</p>
              </div>
            `
            document.querySelector('#chatmessages').innerHTML+=html

        }else{
            alert('message can not be empty')
        }
    }
    chatsocket.onclose = function(e){
        console.log("closed")
    }
    document.getElementById('chat-message-submit').onclick=function(e){
        e.preventDefault()
       const messageInput=document.getElementById('chatmessageinput')
       const message=messageInput.value
       chatsocket.send(JSON.stringify({
        'message':message,
        'username':userName,
        'room':roomName,

       })); 
       messageInput.value=""
       return false
    }
</script>
{% endblock%} 